name: Docs

on:
    push:
        branches: [ master ]

jobs:
    docs:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: fkirc/skip-duplicate-actions@master
            - uses: actions/checkout@v3
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v3
              with:
                  distribution: 'zulu'
                  java-version: 11
            - uses: actions/cache@v3
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}
            - name: Generate docs
              run: ./gradlew mkdocsBuild
            - name: Deploy to GitHub Pages
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  BRANCH: docs
                  FOLDER: build/mkdocs
                  CLEAN: true
